body{
    background-color: rgb(145, 133, 119);
}

section{
    padding: 2%;
}

.row{
    height: 100%;
}

.card{
    color: rgb(63, 118, 138);
    background-color: rgb(205, 245, 253);
    border-radius: 10px;
    width: 100%;
    -webkit-box-shadow: 10px 10px 48px -15px rgba(0,0,0,0.78);
    -moz-box-shadow: 10px 10px 48px -15px rgba(0,0,0,0.78);
    box-shadow: 10px 10px 48px -15px rgba(0,0,0,0.78);  
}

img{
    width: 80%;
    height: 50%;
}