body {
    background-color: rgb(145, 133, 119);
}

section {
    padding: 2%;
}

.ncard {
    margin: 2%;
    padding: 1%;
    height: 300px;
    width: 300px;
    background-color: rgb(205, 245, 253);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 48px -15px rgba(0,0,0,0.78);
    -moz-box-shadow: 10px 10px 48px -15px rgba(0,0,0,0.78);
    box-shadow: 10px 10px 48px -15px rgba(0,0,0,0.78);
    text-align: center;
}

/* img {
    padding: 2%;
    border-radius: 15px;
} */