body{
    background-color: rgb(154, 156, 156) !important;
    color: white;
}

#container{
    padding: 20px;    
}

#mainTable{
    color: azure !important;
}

td, th{
     border: solid;
    padding: 20px;  
}

.collaspe{
    visibility: hidden;
}

input{
    border-radius: 7px;
}