body{
    background-color: rgb(56, 91, 94) !important;
}

#container{
    padding: 20px;    
}

#mainTable{
   
    color: azure !important;
}

td, th{
     border: solid;
    padding: 20px;  
}

.collaspe{
    visibility: hidden;
}